         .code-btn {
             width: 80px;
             height: 32px;
             margin-left: 8px;
             background: #409eff;
             color: #fff;
             border: none;
             border-radius: 4px;
             cursor: pointer;
         }
                .code-btn-1 {
              margin-top:10px;
             width: 80px;
             height: 32px;
             margin-left: 8px;
             background: #409eff;
             color: #fff;
             border: none;
             border-radius: 4px;
             cursor: pointer;
         }